// gallery
a[data-fancybox] img {
  cursor: pointer;
}

.fancybox__container {
  --fancybox-bg: rgba(109, 101, 101, 0.9);
}

.fancybox__container .fancybox__content {
  /* Create white border around the image */
  box-sizing: content-box;
  padding: 1rem;
  background: #fff;

  border-radius: 6px;
  color: #374151;
  box-shadow: 0 8px 23px rgba(0, 0, 0, 0.5);
}

.fancybox__caption {
  max-width: 80%;

  /* Prevent opacity change when dragging up/down */
  --fancybox-opacity: 1;
}
